{% extends "layout.html" %}
{% block content %}


<div class="row">
    <div class="col-12 text-center">
        <h5 class="mb-4" style="font-size: 24px; font-family: Arial;">
            Made by Karol Grabowski
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <h2 class="mb-2" style="font-size: 48px; font-family: Arial;">
            Statistics Based on Data from the 'PKDD'99 Discovery Challenge Financial Dataset
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p style="font-size: 18px; font-family: Arial;">
            The following data represent a statistical dataset derived from financial data used in the 'PKDD'99 Discovery Challenge.
            The dataset includes information on transactions, credits, and other financial operations useful for further analysis.
        </p>
    </div>
<div class="row">
    <div class="col-12">
        <p style="font-size: 18px; font-family: Arial;">
            Data Sources:
            <br>
            <a class="text-info" href="https://example.com/source1" target="_blank">Source 1</a> |
            <a class="text-info" href="https://example.com/source2" target="_blank">Source 2</a>
        </p>
    </div>
</div>
</div>



{% endblock content %}